<div class="main" style="margin-top: 100px;">
  <!-- Form for adding or updating team members -->
  <form [formGroup]="TeamForm" (ngSubmit)="handleAddOrUpdateTeam()" class="form" style="background-color: #f8f9fa; padding: 20px; border-radius: 10px; box-shadow: 0 2px 10px rgba(0,0,0,0.1);">
    <h1 class="form-title text-primary text-center mb-4">{{ currentTeamId ? 'Update Team Member' : 'Add Team Member' }}</h1>

    <div class="mb-3">
      <input
        class="mdl-textfield__input"
        type="text"
        id="teamMemberName"
        formControlName="teamMemberName"
        placeholder="Enter team member name"
        style="padding: 10px; border: 1px solid #ced4da; border-radius: 5px;"
      />
    </div>

    <div class="mb-3">
      <input
        class="mdl-textfield__input"
        type="text"
        id="teamMemberRole"
        formControlName="teamMemberRole"
        placeholder="Enter team member role"
        style="padding: 10px; border: 1px solid #ced4da; border-radius: 5px;"
      />
    </div>

    <div class="mb-3">
      <input
        class="mdl-textfield__input"
        type="file"
        (change)="onFileSelected($event)"
        accept="image/*"
        placeholder="Choose image file"
        style="padding: 10px; border: 1px solid #ced4da; border-radius: 5px;"
      />
    </div>

    <div class="buttons-container text-center">
      <button
        class="mdl-button mdl-js-button mdl-button--raised color--light-blue"
        type="submit"
        [disabled]="TeamForm.invalid"
        style="padding: 10px 20px; border-radius: 5px; "
      >
        <i *ngIf="isLoading" class="fas fa-spinner fa-spin"></i>
        {{ currentTeamId ? 'Update Team Member' : 'Add Team Member' }}
      </button>
    </div>
  </form>

  <div *ngIf="messageError" class="error text-danger text-center">{{ messageError }}</div>

  <div class="card mt-4" style="padding: 20px;">
    <h1 class="card-header text-primary text-center">Team Members List</h1>
    <div class="card-body">
      <div *ngFor="let team of teams" class="contentStyle d-flex align-items-center mb-3 border p-3 rounded" style="background-color: #f9f9f9;">
        <div class="style-title flex-fill text-start mx-2">
          <h5 class="m-0">{{ team.teamMemberName }}</h5>
        </div>

        <div class="style-role flex-fill text-start mx-2">
          <p class="m-0">{{ team.teamMemberRole }}</p>
        </div>

        <div class="image-container flex-fill mx-2 d-flex justify-content-center">
          <img [src]="team.teamImg" alt="{{ team.teamMemberName }}" class="image-style" *ngIf="team.teamImg" style="width: 100px; height: 100px; object-fit: cover;">
        </div>

        <div class="style-buttons flex-shrink-0 mx-2 d-flex justify-content-end">
          <button class="btn btn-warning me-2" (click)="editTeam(team)">Update</button>
          <button class="btn btn-danger" (click)="deleteTeam(team._id)">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
