<div class="ForgetPassword">
  <div class="ForgetPassword-container">
    <form [formGroup]="ForgetPasswordForm" class="form-group" (ngSubmit)="handleForm()">

      <div>
        <input formControlName="email" placeholder="Email" type="email" class="form-control" />
        <div class="req" *ngIf="ForgetPasswordForm.get('email')?.errors && ForgetPasswordForm.get('email')?.touched">
          <p *ngIf="ForgetPasswordForm.get('email')?.getError('required')">Email is Required</p>
          <p *ngIf="ForgetPasswordForm.get('email')?.getError('email')">Invalid Email</p>
        </div>
      </div>

      <button [disabled]="ForgetPasswordForm.invalid" type="submit" class="btn btn-primary">
        <i *ngIf="isLoading" class="fas fa-spinner" style="animation: fa-spin 2s infinite linear;"></i>
        Send
      </button>
      <p *ngIf="messageError" class="req">{{ messageError }}</p>
    </form>
  </div>

  <div *ngIf="showSuccessModal" class="modal">
    <div class="modal-content">
      <span class="close" (click)="closeModal()">&times;</span>
      <p>Reset link sent successfully, check your email!</p>
    </div>
  </div>
</div>
