
.video-container video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.login-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

form {
  background-color: rgba(191, 191, 191, 0.5);
  padding: 45px;
  border-radius: 50px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  width: 800px;
  max-width: 90%;
  border: 1px solid #804132;
  font-size: 20px;
  color: white;
  margin: 0;
}

form h2 {
  text-align: center !important;
  margin-bottom: 50px !important;
  color: #863928 !important;
  text-shadow:
    -1px -1px 0 #000000,
    1px -1px 0 #000000,
    -1px 1px 0 #000000,
    1px 1px 0 #000000;
}

.form-group {
  margin-bottom: 20px;
}

form input {
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #b4b2b2;
  border-radius: 20px;
  font-size: 16px;
  color: #232323;
}

.req {
  color: #000000 !important;
  font-size: 14px !important; 
  font-weight: bold !important; 
  display: flex !important; 
  align-items: center !important; 
  padding-left: 10px !important; 
  padding-top: 5px !important; 
}

.req::before {
  content: ' ' !important; 
  margin-right: 8px !important; 
  font-size: 16px !important; 
}


button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  background-color: #863928;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #a56d3c;
}

.more {
  margin-top: 10px;
  text-align: center;
}

.more:hover .regest {
  color: #863928;
  text-shadow: 1px #232323;
}

.regest {
  color: white;
  text-decoration:solid;
}
